@import url('normalize.css');

/* General Demo Style */
.container{
	width: 100%;
	position: relative;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.main{
	width: 50%;
	position : absolute;
	bottom : 350px;
	/* [disabled]position: relative; */
	
}

.main2{
	width : 50%;
	position : absolute;
	left : 775px;
	bottom : 350px;
}

.lip1{
	width : 50%;
	position : absolute;
	left : 110px;
	bottom : 90px;

}

.lip1:hover{
	background:url(../images/lip1hover.png);
	background-repeat:no-repeat;
	background-position:137px 10px;

}

.lip2{
	width : 50%;
	position : absolute;
	left : 660px;
	bottom : 100px;
}

.lip2:hover{
	background:url(../images/lip2hover.png);
	background-repeat:no-repeat;
	background-position:77px 40px;
}


.container > header{
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-size: 32px;
	line-height: 32px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header h2{
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #888;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
}
